* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem 2rem 1rem;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
}

main .card {
    background-color: whitesmoke;
    width: 100%;
    max-width: 375px;
    border-radius: 1.5rem;
    padding: 1rem;
    color: hsl(238, 29%, 16%);
    margin: 0 0 1rem;
    position: relative;
}

.faq-section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 0.8rem;
    gap: 0.5rem;
    border-bottom: solid 1px hsl(240, 5%, 91%);
}

details summary {
    width: 100%;
    color: hsl(237, 12%, 33%);
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    list-style: none;
    
    font-weight: 400;
    align-items: center;

    }

    .summary-text {
        min-width: 0;
    }
summary::-webkit-details-marker {
    display: none;
}

details summary::after {
    content:"" ;
    display: inline-block;
    width: 10px;
    height: 7px;
    flex-shrink: 0;
    background: url("./faq-accordion-card-main/images/icon-arrow-down.svg") no-repeat center / contain;
    color: hsl(14, 88%, 65%);
    font-size: 1rem;
    
}

details[open] summary {
    font-weight: 700;
}

details[open] summary::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

details p {
    color: hsl(240, 6%, 50%);
}



.woman {
    width: 100%;
    max-width: 198px;
    height: auto;
    position: absolute;
    top: -5.5rem;
    left: 3rem;
}

.pattern-mobile {
    width: 75%;
    max-width: 240px;
    position: relative;
    top: -1rem;
    left: 2rem;
}
.woman-desktop {
    display: none;
    
}

.pattern-desktop {
    display: none;
}

.illustration-box {
    display: none;
}
summary {
    list-style-type: none;
}



@media (min-width: 1024px) {

    body {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

   main .card {
        width: 100%;
        max-width: 950px;
        display: flex;
        height: 100%;
        max-height: 700px;
        position: relative;
        padding: 4rem 4rem 4rem 28rem;
    }

    .faq-section h1 {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
    }

    .woman {
        display: none;
    }

    .pattern-mobile {
        display: none;
    }

    .image-section {
  position: absolute;
  left: -80px;
  /*moveoutsidecard*/top: 50%;
  transform: translateY(-50%);
  width: 420px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

    .woman-desktop {
        display: block;
        max-width: 472px;
        width: 100%;
        height: auto;
        position: relative;
        top: -1.5rem;
        z-index: 2;
        mask-image: linear-gradient(to right, transparent, black 25%);
        
    }

    .pattern-desktop {
        display: block;
        z-index: 1;
        position: absolute;
        width: 100%;
        max-width: 966px;
        height: auto;
        top: -3rem;
        mask-image: none;
           }

    .illustration-box {
        display: block;
        position: absolute;
        bottom: 8px;
        /*sitsontheplatform*/left: -18px;
        /*adjustvisually*/width: 32px;
        z-index: 3;
        width: 100%;
        height: 100%;
        max-width: 191px;
        max-height: 184px;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
}

.attribution {
    padding: 1rem;
}
}